
.fcc-btn {
    background-color: #04AA6D;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-family: sans-serif;
}

.main-title {
    font-family: sans-serif;
    font-size: 30px;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}  

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 6px 7px;
}

/*
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
*/

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ccebdc;
}

/*
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #FFF;
}
*/
.no-styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}  

.no-styled-table thead tr {
  text-align: left;
}

.no-styled-table th,
.no-styled-table td {
  padding: 6px 7px;
}

.no-styled-table tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

.form-table {
  border-collapse: collapse;
  border: solid 1px #ddd;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}  

.form-table thead tr {
  border: solid 1px #ddd;
  text-align: left;
}

.form-table th,
.form-table td {
  border: solid 1px #ddd;
  padding: 6px 7px;
}

.form-table tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

/*
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #ffffff;
}
*/


ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}


.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #009879;
    color: rgb(255, 255, 255);
  }

  .topnav a.anchor-inactive:hover {
    background-color: #333;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: right;
    background-color: #333;
    color: white;
  }

  .topnav a.split:hover {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
  }
