<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IMMO test pages</title>
</head>

<body>
  <h1>IMMO test pages</h1>

  <ul>
    <li><a href="../owners/">List owners</a></li>
    <li><a href="../buildings/">List buildings</a></li>
  </ul>

  <ul>
  <li><a href="http://localhost:8000/testPages/owner_create.html">Create an owner</a></li>
  <li><a href="building_create.html">Create a building</a></li>
  </ul>
</body>

</html>