{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IMMO (DEV)</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">  

</head>

<body>
  
  <div class="topnav">
    <a class="anchor-inactive" href="/">IMMO-DEV</a>
  </div>
    
  <div style="margin-top:30px; max-width: fit-content; margin-left: auto; margin-right: auto;">
    <a class="fcc-btn" href="./app/fre/login">Bienvenue sur IMMO (DEV)</a>
    <a class="fcc-btn" href="./app/eng/login">Welcome to IMMO (DEV)</a>
  </div>

  <div style="margin-top:30px; max-width: fit-content; margin-left: auto; margin-right: auto;"><img src="{% static 'img/condos.webp' %}" /></div>>
</body>

</html>

