{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IMMO DEV - {{captions.COMMON.K_7700f65f_b4c5_44dd_95ad_b628419004d4.caption}}</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">  
  <script>

  function buildingUpdate(buildingID) {
    alert(buildingID)
  }

  function buildingDelete(buildingID) {
    alert(buildingID)
  }

  </script>

<style>

</style>

</head>

<body>

  <div class="topnav">
    <a class="anchor-inactive" href="#">IMMO-DEV</a>
    <a href="/app/{{captions.langid}}">{{ captions.COMMON.K_428cba82_129f_4a04_b494_30fc045d137a.caption }}</a>
    <a class="split" href="#contact">{{captions.COMMON.K_3573d560_09c8_494d_b822_143133ca4c65.caption}}</a>
    <a class="split" href="#about">{{captions.COMMON.K_75052ea6_64f8_4c61_a9ba_bdb2a4d00681.caption}}</a>
  </div>
  <div style="clear:both; margin-top:30px;"></div>
    <span class="main-title">{{captions.COMMON.K_7700f65f_b4c5_44dd_95ad_b628419004d4.caption}}</span>
    <a class="fcc-btn" href="./building_create.html">{{captions.COMMON.K_91a0e783_bd48_4fbc_bc6e_ff01a02209ed.caption}}</a>
  </div>


  <div id="t_buildings">
    <table class="styled-table">
    <thead><tr><th>{{captions.COMMON.K_c1885eb6_9414_48ef_9c64_3017d7688293.caption}}</th>
    <th>{{captions.COMMON.K_f5e91168_412e_4048_ab4a_e37602f6653f.caption}}</th>
    <th>{{captions.COMMON.K_d4ec6ac2_c5e5_4e9f_9267_0b94d95ffde6.caption}}</th>
    <th>{{captions.COMMON.K_e891213d_80ce_4ed2_8a8c_af8ad991bcb4.caption}}</th>
    <th>{{captions.COMMON.K_f908308c_3b94_485a_8794_7eb2d971ce04.caption}}</th>
    <th>{{captions.COMMON.K_b9aa69ab_ff77_4ddf_bc84_152ad33a799f.caption}}</th>
    <th>{{captions.COMMON.K_4c5654a5_8927_48c9_a689_e9ff0a313fb3.caption}}</th>
    <th></th>
    <th></th></tr></thead>
    {% for building in buildings %}
       <tr>
          <td><a href="./building_info/{{building.id}}"  building_id="{{building.id}}" onclick="showBuildingInfo(this)">{{building.name}}</a></td>
          <td>{{building.no}}</td>
          <td>{{building.street}}</td>
          <td>{{building.city}}</td>
          <td>{{building.prov}}</td>
          <td>{{building.zip}}</td>
          <td>{{building.country}}</td>
          <td><input type="button" value="{{captions.COMMON.K_9b5a5fc0_9727_45ec_8cfd_5c8affc803e6.caption}}" onclick="buildingUpdate('{{building.id}})')" /></td>
          <td><input type="button" value="{{captions.COMMON.K_7f6f9f74_9ac3_43b6_9f46_eb8dcdd08e5d.caption}}" onclick="buildingUpdate('{{building.id}})')" /></td>
        </tr>
    {% endfor %}
    </table>
  </div>

</body>

</html>