{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IMMO (DEV)</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">  

  <script>


function init() {

  // active units tab
  document.getElementById("units").style.display = "block";
  document.getElementById("default_tab").className += " active";
}
  </script>
    
</head>

<body onload="init();">

  <div class="topnav">
    <a class="anchor-inactive" href="/">IMMO-DEV</a>
    <a href="/app/{{captions.langid}}">{{ captions.COMMON.K_428cba82_129f_4a04_b494_30fc045d137a.caption }}</a>
    <a href="/app/{{captions.langid}}/building_index">{{captions.COMMON.K_7700f65f_b4c5_44dd_95ad_b628419004d4.caption}}</a>
    <a class="split" href="#user">{{captions.COMMON.K_3573d560_09c8_494d_b822_143133ca4c65.caption}}</a>
    <a class="split" href="#about">{{captions.COMMON.K_75052ea6_64f8_4c61_a9ba_bdb2a4d00681.caption}}</a>
  </div>
  <div style="clear:both; margin-top:30px;"></div>
  <div>
    <!-- <span class="main-title">{{captions.COMMON.K_e18b5642_8672_43de_8b6c_4bbaf6201e1f.caption}}: {{info.name}}</span> -->
    <span class="main-title">{{info.name}}</span>
  </div>
  <div style="font-family:sans-serif; font-size: 20px; margin-top: 20px; padding-bottom: 20px;">
    {{info.no}} {{info.street}} {{info.city}} {{info.prov}} {{info.zip}} {{info.country}}
  </div>

  <div style="clear:both; margin-top:30px;"></div>

  <div style="margin-top:30px;">
    
  </div>


  
<!-- Tab links -->
<div class="tab">
  <button id="default_tab" class="tablinks" onclick="building_info_openTab(event, 'units')">{{captions.COMMON.K_e2a528b2_1987_45a6_964e_da1f6cacfd8f.caption}}</button>
  <button class="tablinks" onclick="building_info_openTab(event, 'administrators')">{{captions.COMMON.K_257a419c_aee0_47f9_ad18_39acea099a26.caption}}</button>
  <button class="tablinks" onclick="building_info_openTab(event, 'exercices')">{{captions.COMMON.K_ab7376ad_00a2_4908_91f7_710096c9d808.caption}}</button>
</div>

<!-- Tab content -->
<div id="units" class="tabcontent active">
  <div style="margin:20px;">
  <table>
    <tr><td><a class="fcc-btn" href="/app/{{captions.langid}}/{{info.id}}/unit_create.html">{{captions.COMMON.K_d49656c0_6b46_42f3_8db1_b7d4d097e6cf.caption}}</a></td><td><a class="fcc-btn" href="/app/{{captions.langid}}/{{info.id}}/unit_create.html">{{captions.COMMON.K_3dfe8200_f6c7_44d1_bd37_165e610d76f4.caption}}</a></td></tr>
  </table>
  </div>

  <div class="panel_grid">
    <table class="styled-table">
      <thead>
        <th>{{captions.COMMON.K_3169519d_be35_4edd_89f2_c5044fbb8171.caption}}</th>
        <th>{{captions.COMMON.K_0fec2786_0b10_4ffb_866e_8fe989311634.caption}}</th>
        <th>{{captions.COMMON.K_f25853d6_a349_417c_b36b_0413e43abb1d.caption}}</th>
      </thead>
      {% for unit in info.units %}
        <tr>
          <td>{{unit.name}}</td>
          <td>{{unit.baseShare}}</td>
          <td>
            <table class="no-styled-table">
            {%for owner in unit.owners %}
              <tr><td>{{owner.firstName}} {{owner.lastName}}</td></tr>
            {% endfor %}
            </table>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

</div>

<div id="administrators" class="tabcontent">
  <h3>En construction</h3>
  <p>Disponible bientot</p>
</div>

<div id="exercices" class="tabcontent">
  <h3>En construction</h3>
  <p>Disponible bientot</p>
</div>


<script>

function building_info_openTab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}

</script>

</body>

</html>