{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IMMO (DEV)</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">  
  <script>

var messages = {

  "langid": "{{captions.langid}}",

  "BUILDINGS_API_POST": {
   "K_0x00000000": "{{ captions.BUILDINGS_API_POST.K_0x00000000.caption }}",
   "K_0x80010001": "{{ captions.BUILDINGS_API_POST.K_0x80010001.caption }}",
   "K_0x80010002": "{{ captions.BUILDINGS_API_POST.K_0x80010002.caption }}",
   "K_0x80010003": "{{ captions.BUILDINGS_API_POST.K_0x80010003.caption }}",
   "K_0x80010004": "{{ captions.BUILDINGS_API_POST.K_0x80010004.caption }}",
   "K_0x80010005": "{{ captions.BUILDINGS_API_POST.K_0x80010005.caption }}",
   "K_0x80010006": "{{ captions.BUILDINGS_API_POST.K_0x80010006.caption }}",
   "K_0x80010007": "{{ captions.BUILDINGS_API_POST.K_0x80010007.caption }}",
   "K_0x80020001": "{{ captions.BUILDINGS_API_POST.K_0x80020001.caption }}",
   "K_0x80020002": "{{ captions.BUILDINGS_API_POST.K_0x80020002.caption }}",
  },
  "BUILDING_API_GET_ADDRESS": {
   "K_0x00000000": "{{ captions.BUILDING_API_GET_ADDRESS.K_0x00000000.caption }}",
   "K_0x80010001": "{{ captions.BUILDING_API_GET_ADDRESS.K_0x80010001.caption }}",
   "K_0x80020001": "{{ captions.BUILDING_API_GET_ADDRESS.K_0x80020001.caption }}",
  },
  "BUILDING_API_PUT_ADDRESS": {
   "K_0x00000000": "{{ captions.BUILDING_API_PUT_ADDRESS.K_0x00000000.caption }}",
   "K_0x80010001": "{{ captions.BUILDING_API_PUT_ADDRESS.K_0x80010001.caption }}",
   "K_0x80020001": "{{ captions.BUILDING_API_PUT_ADDRESS.K_0x80020001.caption }}",
  },
  "BUILDING_API_DELETE": {
   "K_0x00000000": "{{ captions.BUILDING_API_DELETE.K_0x00000000.caption }}",
   "K_0x80010001": "{{ captions.BUILDING_API_DELETE.K_0x80010001.caption }}",
   "K_0x80020001": "{{ captions.BUILDING_API_DELETE.K_0x80020001.caption }}",
  }
}

var update_previous_data = null;

function Dlg_Create_clearForm() {

  document.getElementById("dlg_create_name").value = "";
  document.getElementById("dlg_create_no").value = "";
  document.getElementById("dlg_create_street").value = "";
  document.getElementById("dlg_create_city").value = "";
  document.getElementById("dlg_create_prov").value = "";
  document.getElementById("dlg_create_zip").value = "";
  document.getElementById("dlg_create_country").value = "";

  document.getElementById("dlg_create_name").focus();
}

function Dlg_Update_resetForm() {
  
  document.getElementById("dlg_update_name").value = update_previous_data.name;
  document.getElementById("dlg_update_no").value = update_previous_data.no;
  document.getElementById("dlg_update_street").value = update_previous_data.street;
  document.getElementById("dlg_update_city").value = update_previous_data.city;
  document.getElementById("dlg_update_prov").value = update_previous_data.prov;
  document.getElementById("dlg_update_zip").value = update_previous_data.zip;
  document.getElementById("dlg_update_country").value = update_previous_data.country;
}

function Dlg_Update_clearForm() {

  document.getElementById("dlg_update_name").value = "";
  document.getElementById("dlg_update_no").value = "";
  document.getElementById("dlg_update_street").value = "";
  document.getElementById("dlg_update_city").value = "";
  document.getElementById("dlg_update_prov").value = "";
  document.getElementById("dlg_update_zip").value = "";
  document.getElementById("dlg_update_country").value = "";

  document.getElementById("dlg_update_name").focus();
}

function fillUpdateForm(data) {

  document.getElementById("dlg_update_submit").setAttribute("data-id", data["id"]);
  document.getElementById("dlg_update_name").value = data["name"];
  document.getElementById("dlg_update_no").value = data["no"];
  document.getElementById("dlg_update_street").value = data["street"];
  document.getElementById("dlg_update_city").value = data["city"];
  document.getElementById("dlg_update_prov").value = data["prov"];
  document.getElementById("dlg_update_zip").value = data["zip"];
  document.getElementById("dlg_update_country").value = data["country"];
 }

function fillDeleteForm(data) {

  document.getElementById("dlg_delete_submit").setAttribute("data-id", data["id"]);
  document.getElementById("dlg_delete_name").innerHTML = data["name"];
  document.getElementById("dlg_delete_no").innerHTML = data["no"];
  document.getElementById("dlg_delete_street").innerHTML = data["street"];
  document.getElementById("dlg_delete_city").innerHTML = data["city"];
  document.getElementById("dlg_delete_prov").innerHTML = data["prov"];
  document.getElementById("dlg_delete_zip").innerHTML = data["zip"];
  document.getElementById("dlg_delete_country").innerHTML = data["country"];
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function buildingCreate(buildingID) {

  Dlg_Create_clearForm();
  document.getElementById("buildingCreateDlg").style.display = "block";
  document.getElementById("dlg_create_name").focus();
}

function Dlg_Create_Done() {
  Dlg_Create_clearForm();
  document.getElementById("buildingCreateDlg").style.display = "none";
}

function buildingUpdate(buildingID) {

  xhttp = new XMLHttpRequest();

  xhttp.onreadystatechange = function() {

    if (this.readyState == 4 && this.status == 200) {

      let data = JSON.parse(this.responseText);
      let errMsg = messages["BUILDING_API_GET_ADDRESS"]["K_" + data.envelope.hResult];

      if (data.envelope.hResult != "0x00000000") {

        document.getElementById("input").style.backgroundColor = "#fa9daa";
        document.getElementById("result").style.backgroundColor = "#fa9daa";

        switch (data.envelope.hResult) {
          case "0x80010001":
            document.getElementById("dlg_update_name").focus();
            break;
        }

        alert(data.envelope.hResult + " - " + errMsg);
      }
      else {

        update_previous_data = data.data
        fillUpdateForm(data.data);
        document.getElementById("buildingUpadteDlg").style.display = "block";
        document.getElementById("dlg_update_name").focus();
      }
    }
  }

  var url = "http://localhost:8000/buildings/" + buildingID + "/address";
  xhttp.open("GET", url);
  //xhttp.setRequestHeader("X-CSRFToken", csrftoken);
  xhttp.send();    
}

function buildingDelete(buildingID) {

  xhttp = new XMLHttpRequest();

  xhttp.onreadystatechange = function() {

    if (this.readyState == 4 && this.status == 200) {

      let data = JSON.parse(this.responseText);
      let errMsg = messages["BUILDING_API_GET_ADDRESS"]["K_" + data.envelope.hResult];

      if (data.envelope.hResult != "0x00000000") {

        switch (data.envelope.hResult) {
          case "0x80010001":
            break;
        }

        alert(data.envelope.hResult + " - " + errMsg);
        //document.getElementById("msg").innerHTML = data.envelope.hResult + " - " + errMsg;
      }
      else {

       fillDeleteForm(data.data);
       document.getElementById("buildingDeleteDlg").style.display = "block";
       //xhttp = new XMLHttpRequest();

      }
    }
  }

  var url = "http://localhost:8000/buildings/" + buildingID + "/address";
  xhttp.open("GET", url);
  //xhttp.setRequestHeader("X-CSRFToken", csrftoken);
  xhttp.send();    
}

function Dlg_Update_Cancel() {
  Dlg_Update_clearForm();
  document.getElementById("buildingUpadteDlg").style.display = "none";
}

function Dlg_Create_submit(obj) {
  data = {};

  data.name = document.getElementById("dlg_create_name").value;
  data.no = document.getElementById("dlg_create_no").value;
  data.street = document.getElementById("dlg_create_street").value;
  data.city = document.getElementById("dlg_create_city").value;
  data.prov = document.getElementById("dlg_create_prov").value;
  data.zip = document.getElementById("dlg_create_zip").value;
  data.country = document.getElementById("dlg_create_country").value;

  xhttp = new XMLHttpRequest();

  xhttp.onreadystatechange = function() {

    if (this.readyState == 4 && this.status == 200) {

        let data = JSON.parse(this.responseText);
        let errMsg = messages["BUILDINGS_API_POST"]["K_" + data.envelope.hResult];

        if (data.envelope.hResult != "0x00000000") {

          switch (data.envelope.hResult) {
            case "0x80010001":
              document.getElementById("dlg_create_name").focus();
              break;
            case "0x80010002":
              document.getElementById("dlg_create_no").focus();
              break;
            case "0x80010003":
              document.getElementById("dlg_create_street").focus();
              break;
            case "0x80010004":
              document.getElementById("dlg_create_city").focus();
              break;
            case "0x80010005":
              document.getElementById("dlg_create_prov").focus();
              break;
            case "0x80010006":
              document.getElementById("dlg_create_zip").focus();
              break;
            case "0x80010007":
              document.getElementById("dlg_create_country").focus();
              break;
          }

          alert("Error " + data.envelope.hResult);
        }
        else {

          Dlg_Create_Done();

          // get the bulding table index from the server
          var xhttp = new XMLHttpRequest();

          xhttp.onreadystatechange = function() {

            if (this.readyState == 4 && this.status == 200) {
              document.getElementById("t_buildings").innerHTML = this.responseText;
            }
            else {

            }
         }

          var url = "http://localhost:8000/app/" + messages.langid + "/buildings/buildingInfoTable";
          xhttp.open("GET", url);
          xhttp.send();    
        }
    }
  }

  // This is toretrieve the CSRF token that must be returned
  // to the server when a POST resquest is sent.

  const csrftoken = getCookie('csrftoken');

  //alert(csrftoken);

  xhttp.open("POST", "http://localhost:8000/buildings/");
  xhttp.setRequestHeader("Content-type", "application/json");
  xhttp.setRequestHeader("X-CSRFToken", csrftoken);
  xhttp.send(JSON.stringify(data));    

}

function Dlg_Update_submit(obj) {
  
  data = {};

  data.buildingID = obj.getAttribute("data-id");
  data.name = document.getElementById("dlg_update_name").value;
  data.no = document.getElementById("dlg_update_no").value;
  data.street = document.getElementById("dlg_update_street").value;
  data.city = document.getElementById("dlg_update_city").value;
  data.prov = document.getElementById("dlg_update_prov").value;
  data.zip = document.getElementById("dlg_update_zip").value;
  data.country = document.getElementById("dlg_update_country").value;

  //document.getElementById("input").value = JSON.stringify(data);

  xhttp = new XMLHttpRequest();

  xhttp.onreadystatechange = function() {

    if (this.readyState == 4 && this.status == 200) {

      let data = JSON.parse(this.responseText);
      let errMsg = messages["BUILDING_API_PUT_ADDRESS"]["K_" + data.envelope.hResult];

      if (data.envelope.hResult != "0x00000000") {

        document.getElementById("input").style.backgroundColor = "#fa9daa";
        document.getElementById("result").style.backgroundColor = "#fa9daa";

        alert(data.envelope.hResult + " - " + errMsg);
      }
      else {

        Dlg_Update_clearForm();
        document.getElementById("buildingUpadteDlg").style.display = "none";

        // get the bulding table index from the server
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {

          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("t_buildings").innerHTML = this.responseText;
          }
          else {

          }
        }

        var url = "http://localhost:8000/app/" + messages.langid + "/buildings/buildingInfoTable";
        xhttp.open("GET", url);
        xhttp.send();    
      }
    }
  }

  const csrftoken = getCookie('csrftoken');

  var url = "http://localhost:8000/buildings/" + data.buildingID + "/address";
  xhttp.open("PUT", url);
  xhttp.setRequestHeader("Content-type", "application/json");
  xhttp.setRequestHeader("X-CSRFToken", csrftoken);
  xhttp.send(JSON.stringify(data));    
}

function Dlg_Delete_Cancel() {
  document.getElementById("buildingDeleteDlg").style.display = "none";
}

function Dlg_Delete_submit(obj) {
  
  data = {};

  data.buildingID = obj.getAttribute("data-id");

  //document.getElementById("input").value = JSON.stringify(data);

  xhttp = new XMLHttpRequest();

  xhttp.onreadystatechange = function() {

    if (this.readyState == 4 && this.status == 200) {

      let data = JSON.parse(this.responseText);
      let errMsg = messages["BUILDING_API_DELETE"]["K_" + data.envelope.hResult];

      if (data.envelope.hResult != "0x00000000") {

        alert(data.envelope.hResult + " - " + errMsg);
      }
      else {

        Dlg_Update_clearForm();
        document.getElementById("buildingDeleteDlg").style.display = "none";

        // get the bulding table index from the server
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {

          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("t_buildings").innerHTML = this.responseText;
          }
          else {

          }
        }

        var url = "http://localhost:8000/app/" + messages.langid + "/buildings/buildingInfoTable";
        xhttp.open("GET", url);
        xhttp.send();    
      }
    }
  }

  const csrftoken = getCookie('csrftoken');

  var url = "http://localhost:8000/buildings/" + data.buildingID + "";
  xhttp.open("DELETE", url);
  xhttp.setRequestHeader("Content-type", "application/json");
  xhttp.setRequestHeader("X-CSRFToken", csrftoken);
  xhttp.send(JSON.stringify(data));    
}

</script>

<style>

</style>

</head>

<body>

  <div class="topnav">
    <a class="anchor-inactive" href="/">IMMO-DEV</a>
    <a href="/app/{{captions.langid}}">{{ captions.COMMON.K_428cba82_129f_4a04_b494_30fc045d137a.caption }}</a>
    <a class="split" href="#contact">{{captions.COMMON.K_3573d560_09c8_494d_b822_143133ca4c65.caption}}</a>
    <a class="split" href="#about">{{captions.COMMON.K_75052ea6_64f8_4c61_a9ba_bdb2a4d00681.caption}}</a>
  </div>
  <div style="clear:both; margin-top:30px;"></div>
    <span class="main-title">{{captions.COMMON.K_7700f65f_b4c5_44dd_95ad_b628419004d4.caption}}</span>
    <!--
    <a class="fcc-btn" href="./building_create.html">{{captions.COMMON.K_91a0e783_bd48_4fbc_bc6e_ff01a02209ed.caption}}</a>
    -->
    <a class="fcc-btn" href="#" onclick="buildingCreate();">{{captions.COMMON.K_91a0e783_bd48_4fbc_bc6e_ff01a02209ed.caption}}</a>
    
  </div>


  <div id="t_buildings">
    <table class="styled-table">
    <thead><tr><th>{{captions.COMMON.K_c1885eb6_9414_48ef_9c64_3017d7688293.caption}}</th>
    <th>{{captions.COMMON.K_f5e91168_412e_4048_ab4a_e37602f6653f.caption}}</th>
    <th>{{captions.COMMON.K_d4ec6ac2_c5e5_4e9f_9267_0b94d95ffde6.caption}}</th>
    <th>{{captions.COMMON.K_e891213d_80ce_4ed2_8a8c_af8ad991bcb4.caption}}</th>
    <th>{{captions.COMMON.K_f908308c_3b94_485a_8794_7eb2d971ce04.caption}}</th>
    <th>{{captions.COMMON.K_b9aa69ab_ff77_4ddf_bc84_152ad33a799f.caption}}</th>
    <th>{{captions.COMMON.K_4c5654a5_8927_48c9_a689_e9ff0a313fb3.caption}}</th>
    <th></th>
    <th></th></tr></thead>
    {% for building in buildings %}
       <tr>
          <td><a href="./building_info/{{building.id}}"  building_id="{{building.id}}" onclick="showBuildingInfo(this)">{{building.name}}</a></td>
          <td>{{building.no}}</td>
          <td>{{building.street}}</td>
          <td>{{building.city}}</td>
          <td>{{building.prov}}</td>
          <td>{{building.zip}}</td>
          <td>{{building.country}}</td>
          <td><input type="button" value="{{captions.COMMON.K_9b5a5fc0_9727_45ec_8cfd_5c8affc803e6.caption}}" onclick="buildingUpdate('{{building.id}}')" /></td>
          <td><input type="button" value="{{captions.COMMON.K_7f6f9f74_9ac3_43b6_9f46_eb8dcdd08e5d.caption}}" onclick="buildingDelete('{{building.id}}')" /></td>
        </tr>
    {% endfor %}
    </table>
  </div>


  <div id="buildingCreateDlg" class="modal">

    <!-- Create dialog -->
    <div class="modal-content">
      <span id="buildingCreateDlg_close" class="close">&times;</span>
      <p id="dlg_update_buildingName">{{captions.BUILDING_CREATE.K_MSG_1.caption}}</p>

      <table class="form-table">
        <tr><td>{{captions.COMMON.K_c1885eb6_9414_48ef_9c64_3017d7688293.caption}}</td><td><input type="text" id="dlg_create_name" /></td></tr>
        <tr><td>{{captions.COMMON.K_f5e91168_412e_4048_ab4a_e37602f6653f.caption}}</td><td><input type="text" id="dlg_create_no" /></td></tr>
        <tr><td>{{captions.COMMON.K_d4ec6ac2_c5e5_4e9f_9267_0b94d95ffde6.caption}}</td><td><input type="text" id="dlg_create_street" /></td></tr>
        <tr><td>{{captions.COMMON.K_e891213d_80ce_4ed2_8a8c_af8ad991bcb4.caption}}</td><td><input type="text" id="dlg_create_city" /></td></tr>
        <tr><td>{{captions.COMMON.K_f908308c_3b94_485a_8794_7eb2d971ce04.caption}}</td><td><input type="text" id="dlg_create_prov" /></td></tr>
        <tr><td>{{captions.COMMON.K_b9aa69ab_ff77_4ddf_bc84_152ad33a799f.caption}}</td><td><input type="text" id="dlg_create_zip" /></td></tr>
        <tr><td>{{captions.COMMON.K_4c5654a5_8927_48c9_a689_e9ff0a313fb3.caption}}</td><td><input type="text" id="dlg_create_country" /></td></tr>
        <tr><td></td><td><input type="button" id="dlf_create_clear" value="{{captions.COMMON.K_5eb6b2f8_f8c6_41f4_a6bf_22bf46c54ce8.caption}}" onclick="Dlg_Create_clearForm();"/>
          &nbsp;&nbsp;&nbsp;<input type="button" id="dlg_create_done" value="{{captions.COMMON.K_35ac15cc_d3cd_4805_b5a7_31103f2f6897.caption}}" onclick="Dlg_Create_Done();"/>
          &nbsp;&nbsp;&nbsp;<input type="button" id="dlg_create_submit" value="{{captions.COMMON.K_ff18fa4d_3b66_444e_adcf_0df430cc00a2.caption}}" onclick="Dlg_Create_submit();"/></td></tr>
      </table>
    </div>  
  </div>  


  <div id="buildingUpadteDlg" class="modal">

    <!-- Update dialog -->
    <div class="modal-content">
      <span id="buildingUpdateDlg_close" class="close">&times;</span>
      <p id="dlg_update_buildingName">{{captions.BUILDING_UPDATE.K_MSG_1.caption}}</p>

      <table class="form-table">
        <tr><td>{{captions.COMMON.K_c1885eb6_9414_48ef_9c64_3017d7688293.caption}}</td><td><input type="text" id="dlg_update_name" /></td></tr>
        <tr><td>{{captions.COMMON.K_f5e91168_412e_4048_ab4a_e37602f6653f.caption}}</td><td><input type="text" id="dlg_update_no" /></td></tr>
        <tr><td>{{captions.COMMON.K_d4ec6ac2_c5e5_4e9f_9267_0b94d95ffde6.caption}}</td><td><input type="text" id="dlg_update_street" /></td></tr>
        <tr><td>{{captions.COMMON.K_e891213d_80ce_4ed2_8a8c_af8ad991bcb4.caption}}</td><td><input type="text" id="dlg_update_city" /></td></tr>
        <tr><td>{{captions.COMMON.K_f908308c_3b94_485a_8794_7eb2d971ce04.caption}}</td><td><input type="text" id="dlg_update_prov" /></td></tr>
        <tr><td>{{captions.COMMON.K_b9aa69ab_ff77_4ddf_bc84_152ad33a799f.caption}}</td><td><input type="text" id="dlg_update_zip" /></td></tr>
        <tr><td>{{captions.COMMON.K_4c5654a5_8927_48c9_a689_e9ff0a313fb3.caption}}</td><td><input type="text" id="dlg_update_country" /></td></tr>
        <tr><td></td><td><input type="button" id="dlg_update_clear" value="{{captions.COMMON.K_72ca2aa1_5dc9_4a54_a8be_d853d13018da.caption}}" onclick="Dlg_Update_resetForm();"/>
          &nbsp;&nbsp;&nbsp;<input type="button" id="dlg_update_ccancel" value="{{captions.COMMON.K_52a6a83e_a824_4969_b22a_c22e0b43f6c1.caption}}" onclick="Dlg_Update_Cancel();"/>
          &nbsp;&nbsp;&nbsp;<input type="button" id="dlg_update_submit" value="{{captions.COMMON.K_9b5a5fc0_9727_45ec_8cfd_5c8affc803e6.caption}}" onclick="Dlg_Update_submit(this);"/></td></tr>
      </table>
    </div>
  </div>


  <div id="buildingDeleteDlg" class="modal">

    <!-- Delete dialog -->
    <div class="modal-content">
      <span id="buildingDeleteDlg_close" class="close">&times;</span>
      <p id="dlg_delete_buildingName">{{captions.BUILDING_DELETE.K_MSG_1.caption}}</p>

      <table class="form-table">
        <tr><td>{{captions.COMMON.K_c1885eb6_9414_48ef_9c64_3017d7688293.caption}}</td><td><span id="dlg_delete_name"> </span></td></tr>
        <tr><td>{{captions.COMMON.K_f5e91168_412e_4048_ab4a_e37602f6653f.caption}}</td><td><span type="text" id="dlg_delete_no" </span></td></tr>
        <tr><td>{{captions.COMMON.K_d4ec6ac2_c5e5_4e9f_9267_0b94d95ffde6.caption}}</td><td><span type="text" id="dlg_delete_street" </span></td></tr>
        <tr><td>{{captions.COMMON.K_e891213d_80ce_4ed2_8a8c_af8ad991bcb4.caption}}</td><td><span type="text" id="dlg_delete_city" </span></td></tr>
        <tr><td>{{captions.COMMON.K_f908308c_3b94_485a_8794_7eb2d971ce04.caption}}</td><td><span type="text" id="dlg_delete_prov" </span></td></tr>
        <tr><td>{{captions.COMMON.K_b9aa69ab_ff77_4ddf_bc84_152ad33a799f.caption}}</td><td><span type="text" id="dlg_delete_zip" </span></td></tr>
        <tr><td>{{captions.COMMON.K_4c5654a5_8927_48c9_a689_e9ff0a313fb3.caption}}</td><td><span type="text" id="dlg_delete_country" </span></td></tr>
        <tr><td></td><td><input type="button" id="dlg_delete_cancel" value="{{captions.COMMON.K_52a6a83e_a824_4969_b22a_c22e0b43f6c1.caption}}" onclick="Dlg_Delete_Cancel();"/>
          &nbsp;&nbsp;&nbsp;<input type="button" id="dlg_delete_submit" value="{{captions.COMMON.K_7f6f9f74_9ac3_43b6_9f46_eb8dcdd08e5d.caption}}" onclick="Dlg_Delete_submit(this);"/></td></tr>
      </table>
    </div>
  </div>

<script>

// Get the <span> element that closes the modal
var Dlg_Create_span = document.getElementById("buildingCreateDlg_close");  
var Dlg_Update_span = document.getElementById("buildingUpdateDlg_close");
var Dlg_Delete_span = document.getElementById("buildingDeleteDlg_close");

// When the user clicks on <span> (x), close the modal

Dlg_Create_span.onclick = function() {
  document.getElementById("buildingCreateDlg").style.display = "none";
}

Dlg_Update_span.onclick = function() {
  document.getElementById("buildingUpadteDlg").style.display = "none";
}

Dlg_Delete_span.onclick = function() {
  document.getElementById("buildingDeleteDlg").style.display = "none";
}

</script>

</body>

</html>