{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IMMO Create Owner</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">  

  <script>

function init() {
    document.getElementById("firstName").focus();
}

  </script>

</head>

<body onload="init();">

  <div class="topnav">
    <a class="anchor-inactive" href="#">IMMO-DEV</a>
    <a href="http://localhost:8000/app/">Home</a>
    <a href="http://localhost:8000/app/owner_index">Owners</a>
    <a class="split" href="#contact">User</a>
    <a class="split" href="#about">About</a>
  </div>

  <div style="clear:both; margin-top:30px;"></div>
    <span class="main-title">Owner: create new owner</span>
  </div>

  <div style="margin-top:15px;">
  <table class="styled-table">
    <tr><td>First name</td><td><input type="text" id="firstName" /></td><td>Phone 1</td><td><input type="text" id="phone1" /></td></tr>
    <tr><td>Last name</td><td><input type="text" id="lastName" /></td><td>Phone 2</td><td><input type="text" id="phone2" /></td></tr>
    <tr><td>Address 1</td><td><input type="text" id="address1" /></td><td>Fax</td><td><input type="text" id="fax" /></td></tr>
    <tr><td>Address 2</td><td><input type="text" id="address2" /></td><td>Email</td><td><input type="text" id="email" /></td>
    <tr><td>City</td><td><input type="text" id="city" /></td><td></td><td><input type="button" id="clear" value="clear" onclick="clearForm();"/>&nbsp;&nbsp;&nbsp;<input type="button" id="submit" value="submit" onclick="submitInfo();"/></td></tr>
    <tr><td>Prov</td><td><input type="text" id="prov" /></td></tr>
    <tr><td>Zip</td><td><input type="text" id="zip" /></td></tr>
    <tr><td>Country</td><td><input type="text" id="country" /></td></tr>
  </table>

</div>

  <div style="margin-top:20px;">
    <div>Input request</div>
    <textarea id="input" rows="10" cols="100" style="background-color: #bdfab9;"></textarea>
  </div>
  <div style="margin-top:20px;">
    <div>Response</div>
    <textarea id="result" rows="10" cols="100" style="background-color: #bdfab9;"></textarea>
  </div>

<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


function submitInfo() {
    data = {};

    data.firstName = document.getElementById("firstName").value;
    data.lastName = document.getElementById("lastName").value;
    data.address1 = document.getElementById("address1").value;
    data.address2 = document.getElementById("address2").value;
    data.city = document.getElementById("city").value;
    data.prov = document.getElementById("prov").value;
    data.zip = document.getElementById("zip").value;
    data.country = document.getElementById("country").value;
    data.phone1 = document.getElementById("phone1").value;
    data.phone2 = document.getElementById("phone2").value;
    data.fax = document.getElementById("fax").value;
    data.email = document.getElementById("email").value;

    document.getElementById("input").value = JSON.stringify(data);

    xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function() {

        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("result").innerHTML =
            this.responseText;

            let data = JSON.parse(this.responseText);
            let errMsg = "";

            if (data.envelope.hResult != "0x00000000") {

              document.getElementById("input").style.backgroundColor = "#fa9daa";
              document.getElementById("result").style.backgroundColor = "#fa9daa";

              switch (data.envelope.hResult) {
                case "0x80010001":
                  errMsg = "Missing first name";
                  document.getElementById("firstName").focus();
                  break;
                case "0x80010002":
                  errMsg = "Missing last name";
                  document.getElementById("lastName").focus();
                  break;
                case "0x80010003":
                  errMsg = "Missing address1";
                  document.getElementById("address1").focus();
                  break;
                case "0x80010004":
                  errMsg = "Missing address2";
                  document.getElementById("address2").focus();
                  break;
                case "0x80010005":
                  errMsg = "Missing city";
                  document.getElementById("city").focus();
                  break;
                case "0x80010006":
                  errMsg = "Missing province";
                  document.getElementById("prov").focus();
                  break;
                case "0x80010007":
                  errMsg = "Missing zip code";
                  document.getElementById("zip").focus();
                  break;
                case "0x80010008":
                  errMsg = "Missing country";
                  document.getElementById("country").focus();
                  break;
              }

              alert("Error creating building - hResult: " +  data.envelope.hResult + " - " + errMsg);
            }
            else {
              clearForm();
            }
        }
    }

    // This is toretrieve the CSRF token that must be returned
    // to the server when a POST resquest is sent.

    const csrftoken = getCookie('csrftoken');

    //alert(csrftoken);

    xhttp.open("POST", "http://localhost:8000/owners/");
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.setRequestHeader("X-CSRFToken", csrftoken);
    xhttp.send(JSON.stringify(data));    
}

function clearForm() {

    document.getElementById("firstName").value = "";
    document.getElementById("lastName").value = "";
    document.getElementById("address1").value = "";
    document.getElementById("address2").value = "";
    document.getElementById("city").value = "";
    document.getElementById("prov").value = "";
    document.getElementById("zip").value = "";
    document.getElementById("country").value = "";
    document.getElementById("phone1").value = "";
    document.getElementById("phone2").value = "";
    document.getElementById("fax").value = "";
    document.getElementById("email").value = "";

    document.getElementById("input").style.backgroundColor = "#bdfab9";
    document.getElementById("result").style.backgroundColor = "#bdfab9";
    document.getElementById("firstName").focus();

}

</script>


</body>

</html>