{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IMMO (DEV)</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">  

  <script>

  function buildingUpdate(ownerID) {
    alert(ownerID)
  }

  function buildingDelete(ownerID) {
    alert(ownerID)
  }

  </script>
    
</head>

<body>

  <div class="topnav">
    <a class="anchor-inactive" href="/">IMMO-DEV</a>
    <a href="/app/{{captions.langid}}">{{ captions.COMMON.K_428cba82_129f_4a04_b494_30fc045d137a.caption }}</a>
    <a class="split" href="#contact">{{captions.COMMON.K_3573d560_09c8_494d_b822_143133ca4c65.caption}}</a>
    <a class="split" href="#about">{{captions.COMMON.K_75052ea6_64f8_4c61_a9ba_bdb2a4d00681.caption}}</a>
  </div>
  <div style="clear:both; margin-top:30px;"></div>
    <span class="main-title">{{captions.COMMON.K_f25853d6_a349_417c_b36b_0413e43abb1d.caption}}</span>
    <a class="fcc-btn" href="./owner_create.html">{{captions.COMMON.K_91a0e783_bd48_4fbc_bc6e_ff01a02209ed.caption}}</a>
  </div>

  <div id="t_owners">
    <table class="styled-table">

      <thead><tr><th>{{captions.COMMON.K_c1885eb6_9414_48ef_9c64_3017d7688293.caption}}</th>
        <th>{{captions.COMMON.K_48ae6346_c9f0_4491_a585_6717268d69d3.caption}}</th>
        <th>{{captions.COMMON.K_aac6fb8d_7fd9_4503_9adc_2d83fcbd3f7e.caption}}</th>
        <th>{{captions.COMMON.K_7ffb065f_78da_49e9_83c8_7bb42b42fa48.caption}}</th>
        <th>{{captions.COMMON.K_8d9c52a2_9b63_41b0_b580_7708966c3af3.caption}}</th>
        <th>{{captions.COMMON.K_f5f21a35_515b_43f5_ae30_26f7f331def8.caption}}</th>
        <th></th>
        <th></th></tr>
      </thead>
    
    {% for owner in owners %}
       <tr>
          <td>{{owner.firstName}} {{owner.lastName}}</td><td>{{owner.address_1}} {{owner.address_2}} {{owner.city}} {{owner.province}}</td><td>{{owner.phone_1}}</td><td>{{owner.phone_2}}</td><td>{{owner.fax}}</td><td>{{owner.email}}</td>
          <td><input type="button" value="{{captions.COMMON.K_9b5a5fc0_9727_45ec_8cfd_5c8affc803e6.caption}}" onclick="buildingUpdate('{{owner.id}}');" /></td>
          <td><input type="button" value="{{captions.COMMON.K_7f6f9f74_9ac3_43b6_9f46_eb8dcdd08e5d.caption}}" onclick="buildingDelete('{{owner.id}}');" /></td>
        </tr>
    {% endfor %}
    </table>
  </div>

</body>

</html>