{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IMMO (DEV)</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">  

  <script>

var messages = {
  "UNITS_API_POST": {
     "K_0x00000000": "{{ captions.UNITS_API_POST.K_0x00000000.caption }}",
     "K_0x80010001": "{{ captions.UNITS_API_POST.K_0x80010001.caption }}",
     "K_0x80010002": "{{ captions.UNITS_API_POST.K_0x80010002.caption }}",
     "K_0x80010003": "{{ captions.UNITS_API_POST.K_0x80010003.caption }}",
     "K_0x80020001": "{{ captions.UNITS_API_POST.K_0x80020001.caption }}",
     "K_0x80020002": "{{ captions.UNITS_API_POST.K_0x80020002.caption }}",
  },
  "UNITS_FORM": {
    "MSG_1": "{{ captions.UNITS_FORM.K_MSG_1.caption }}",
  },
  "COMMON": {
    "K_0": "{{captions.COMMON.K_e2d0157b_0a28_48fc_a02c_863360bdfef2.caption}}"
  }
}

function sortSelect(selElem) {

    var tmpAry = new Array();
    for (var i=0;i<selElem.options.length;i++) {
        tmpAry[i] = new Array();
        tmpAry[i][0] = selElem.options[i].text;
        tmpAry[i][1] = selElem.options[i].value;
    }
    tmpAry.sort();
    while (selElem.options.length > 0) {
        selElem.options[0] = null;
    }
    for (var i=0;i<tmpAry.length;i++) {
        var op = new Option(tmpAry[i][0], tmpAry[i][1]);
        selElem.options[i] = op;
    }
    return;
}

function init() {
    document.getElementById("name").focus();
}

function removeOwner() {

  document.getElementById("DIV-" + this.id).remove();
  option = document.createElement('option');
  option.text = this.getAttribute("data-caption");
  option.value = this.id ;
  dropDown = document.getElementById("owners");
  dropDown.add(option, 0);
  sortSelect(dropDown);
}

function addOwner() {

  dropdown = document.getElementById("owners");

  if (dropdown.options[dropdown.selectedIndex].value == "-") {
    alert(messages["UNITS_FORM"]["MSG_1"]);
    return;
  }

  selecteOners = document.getElementById("ownerList");

  ownerDiv = document.createElement("div");
  ownerDiv.setAttribute("id", "DIV-" + dropdown.options[dropdown.selectedIndex].value);
  t = document.createElement("span");
  t.setAttribute("id", "SPAN-" + dropdown.options[dropdown.selectedIndex].value);
  t.innerHTML = dropdown.options[dropdown.selectedIndex].text;
  //ownerDiv.innerHTML = dropdown.options[dropdown.selectedIndex].text;
  ownerDiv.appendChild(t);

  b = document.createElement("input");
  b.setAttribute("type", "button");
  b.setAttribute("id", dropdown.options[dropdown.selectedIndex].value);
  b.setAttribute("data-caption", dropdown.options[dropdown.selectedIndex].text);
  b.value = messages["COMMON"]["K_0"];
  b.onclick = removeOwner;
  dropdown.remove(dropdown.selectedIndex);


  ownerDiv.appendChild(b);
  selecteOners.appendChild(ownerDiv);

  dropdown.selectedIndex = 0;
}

  </script>

</head>

<body onload="init();">

  <div class="topnav">
    <a class="anchor-inactive" href="/">IMMO-DEV</a>
    <a href="/app/{{captions.langid}}">{{ captions.COMMON.K_428cba82_129f_4a04_b494_30fc045d137a.caption }}</a>
    <a href="/app/{{captions.langid}}/building_index">{{captions.COMMON.K_7700f65f_b4c5_44dd_95ad_b628419004d4.caption}}</a>
    <a class="split" href="#user">{{captions.COMMON.K_3573d560_09c8_494d_b822_143133ca4c65.caption}}</a>
    <a class="split" href="#about">{{captions.COMMON.K_75052ea6_64f8_4c61_a9ba_bdb2a4d00681.caption}}</a>
  </div>

  <div style="clear:both; margin-top:30px;"></div>
    <span class="main-title">{{building.name}} - {{captions.COMMON.K_d49656c0_6b46_42f3_8db1_b7d4d097e6cf.caption}}</span>
  </div>

  <div style="margin-top:15px;">
  <table class="form-table">
    <tr><td>{{captions.COMMON.K_c1885eb6_9414_48ef_9c64_3017d7688293.caption}}</td><td><input type="text" id="name" /></td></tr>
    <tr><td>{{captions.COMMON.K_0fec2786_0b10_4ffb_866e_8fe989311634.caption}}</td><td><input type="text" id="baseShare" /></td></tr>
    <tr><td>{{captions.COMMON.K_f25853d6_a349_417c_b36b_0413e43abb1d.caption}}</td><td><select name="owners" id="owners">
      <option value="-"></option>
      {% for owner in owners %}
      <option value="{{owner.id}}">{{owner.firstName}}&nbsp;{{owner.lastName}} - {{owner.address_1}} {{owner.city}} {{owner.province}} {{owner.country}}</option>
      {% endfor %}
    </select> <input type="button" value="{{captions.COMMON.K_d05c8867_a531_4fd6_bed1_9be4abb7e148.caption}}" onclick="addOwner()"/>  
  
  
    <div id="ownerList" style="margin:10px; background: #c1f7cf;">

    </div>
    
  </td></tr>
        <tr><td></td><td><input type="button" id="clear" value="{{captions.COMMON.K_5eb6b2f8_f8c6_41f4_a6bf_22bf46c54ce8.caption}}" onclick="clearForm();"/>&nbsp;&nbsp;&nbsp;
            <input type="button" id="submit" value="{{captions.COMMON.K_ff18fa4d_3b66_444e_adcf_0df430cc00a2.caption}}" onclick="submitInfo('{{building.id}}');"/></td></tr>
  </table>

</div>


  <div id="msg" style="margin-top:20px;">
  </div>
  <div style="margin-top:20px;">
    <div>Input request</div>
    <textarea id="input" rows="10" cols="100" style="background-color: #bdfab9;"></textarea>
  </div>
  <div style="margin-top:20px;">
    <div>Response</div>
    <textarea id="result" rows="10" cols="100" style="background-color: #bdfab9;"></textarea>
  </div>

<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


function submitInfo(building_id) {
    data = {"owners": []};

    data.name = document.getElementById("name").value;
    data.baseShare = document.getElementById("baseShare").value;

    // get all owners

    var children = document.getElementById("ownerList").getElementsByTagName('input');

    for(var i=0; i<children.length; i++) {
      id = children[i].getAttribute("id");
      data.owners.push({});
      data.owners[i]["id"] = id;
    }

    document.getElementById("input").value = JSON.stringify(data);

    xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function() {

        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("result").innerHTML =
            this.responseText;

            let data = JSON.parse(this.responseText);
            let errMsg = messages["UNITS_API_POST"]["K_" + data.envelope.hResult];

            if (data.envelope.hResult != "0x00000000") {

              document.getElementById("input").style.backgroundColor = "#fa9daa";
              document.getElementById("result").style.backgroundColor = "#fa9daa";

              switch (data.envelope.hResult) {
                case "0x80010001":
                  document.getElementById("name").focus();
                  break;
                case "0x80010002":
                  document.getElementById("baseShare").focus();
                  break;
                case "0x80010003":
                  document.getElementById("owners").focus();
                  break;
              }
            }
            else {
              clearForm();
            }

            document.getElementById("msg").innerHTML = data.envelope.hResult + " - " + errMsg;
        }
    }

    // This is toretrieve the CSRF token that must be returned
    // to the server when a POST resquest is sent.

    const csrftoken = getCookie('csrftoken');

    //alert(csrftoken);

    xhttp.open("POST", "http://localhost:8000/buildings/" + building_id + "/units/");
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.setRequestHeader("X-CSRFToken", csrftoken);
    xhttp.send(JSON.stringify(data));    
}

function clearForm() {

    document.getElementById("name").value = "";
    document.getElementById("baseShare").value = "";

    document.getElementById("input").style.backgroundColor = "#bdfab9";
    document.getElementById("result").style.backgroundColor = "#bdfab9";
    document.getElementById("name").focus();

    // remove selected owners

    dropDown = document.getElementById("owners");
    var children = document.getElementById("ownerList").getElementsByTagName('input');

    for(var i=0; i<children.length; i++) {
      id = children[0].getAttribute("id");
      caption = children[i].getAttribute("data-caption");
      option = document.createElement('option');
      option.text = caption;
      option.value = id ;
      dropDown.add(option, 0);
    }

    panel = document.getElementById("ownerList");

    while (panel.lastElementChild) {
      panel.removeChild(panel.lastElementChild);
    }

    sortSelect(dropDown);
}

</script>


</body>

</html>